.footer {
    background-image: url(../../../src/images/slider/footer-map.png);
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.footer::before {
    content: '';
    background-color: #363636d6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.footer .logo-container {
    position: relative;
    z-index: 1;

}

.footer form {
    position: relative;
    z-index: 1;
}

.footer form input {
    display: block;
    width: 250px;
    height: 50px;
    background-color: unset;
    transition: all 0.8s;
}

#footer-btn {
    background-color: #CB8670;
    border: none;
    color: white;
}

#footer-btn:hover {
    background-color: #363636d6;
}

#email {
    border: 2px solid #CB8670;
}

#email:hover {
    background-color: #CB8670;

}

.icons {
    position: relative;
    z-index: 1;
    font-family: lato sans-serif;
    font-weight: 800;
}

.icons svg {
    /* color: #CB8670; */
    position: relative;
    z-index: 1;
    font-size: 30px;
    margin-right: 15px;
    background-color: #CB8670;
    transition: all 0.8s;
}

.icons svg:hover {
    color: #CB8670;
    background-color: black;
}